.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Drop_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Drop {
    margin: 50px 50px;
}

.custom-img {
    max-width: 200px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header h1 {
    margin: 30px 0;
    color:gray;
    background-color:pink;
}

.header p {
    max-width: 800px;
    margin: 50px auto;
    color:gray;
    background-color: lightblue;
}

.header h2{
  color:lightblue;
  background-color:gray;
  text-transform: uppercase;
  text-align: left;
}

body{
  background-color:lightgray;
}

.navbar, .navbar-default {
    padding: 10px 300px !important;
    justify-content:space-around !important;
}

#tForm {
  font-family: cursive;
}
 
.tag-box {
  border: 3px solid darkgoldenrod;
  display: inline;
  padding: 10px;
  margin-left: 5px;
  background-color: azure;
}
 
.event-box {
  width: 600px;
  height: 570px;
  border: 3px solid blue;
  padding: 17px;
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
  box-sizing: border-box;
}

#welcome{
  text-align: left;
  font-size: 30px;
  color: pink;
  -webkit-text-stroke: 0.2px gray;
}

.bucketList{
  color:gray;
  background-color:pink;
  /* text-transform: uppercase; */
  text-align: left;
}

.finished{
  color:rgb(224, 111, 130);
  background-color:lightblue;
  /* text-transform: uppercase; */
  text-align: left;
}